<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="login-usuario">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <input class="col-3 offset-1" placeholder="email" type="email" value="{{email::input}}"></input>
    </br>
    <input class="col-3 offset-1" placeholder="password" type="password" value="{{password::input}}"></input>
    </br>
    <button class="col-1 offset-1 btn btn-outline-secondary" on-click="login">Login</button>
    <span hidden$="{{!isLogged}}">Bienvenido de nuevo!!</span>

    <iron-ajax
      id="doLogin"
      url="http://localhost:3000/apitechu/v2/login"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LoginUsuario extends Polymer.Element {
      static get is() { return 'login-usuario'; }
      static get properties() {
        return {
            email: {
            type: String
          }, password: {
            type: String
          }, isLogged: {
            type: Boolean,
            value: false
          }

        };
      }

      manageAJAXResponse(data) {
        console.log("llegaron los resultados");
        console.log(data.detail.response);

        this.isLogged = true;
        window.location = "user/" +  data.detail.response.idUsuario
      }

      login(){
        console.log("El usuario ha pulsado el botón");
        console.log("Voy a enviar la petición");

        var loginData ={
          "email" : this.email,
          "password" : this.password
        };

        this.$.doLogin.body = JSON.stringify(loginData);
        this.$.doLogin.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Hubo un error");
        console.log("error");
      }

    }

    window.customElements.define(LoginUsuario.is, LoginUsuario);
  </script>
</dom-module>
