<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="logout-usuario">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Adios [[id]]</h2>
    <span hidden$="{{!isLogout}}">Adios!!</span>

    <iron-ajax
      auto
      id="doLogout"
      url="http://localhost:3000/apitechu/v2/logout/[[id]]"
      handle-as="json"
      content-type="application/json"
      method="POST"
      handle-as="json"
      on-response="manageAJAXResponse"
      on-error="showError"
    >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class LogoutUsuario extends Polymer.Element {
      static get is() { return 'logout-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, isLogout: {
            type: Boolean,
            value: true
          }
        };
      }

      manageAJAXResponse(data) {
        console.log("llegaron los resultados");
        console.log(data.detail.response);
      }

      logout(){
      console.log("Voy a enviar la petición");

        var logoutData ={
          "id" : this.id
        };

        this.$.doLogout.body = JSON.stringify(logoutData);
        this.$.doLogout.generateRequest();

        console.log("Petición enviada");
      }

      showError(error) {
        console.log("Hubo un error");
        console.log("error");
      }

    }

    window.customElements.define(LogoutUsuario.is, LogoutUsuario);
  </script>
</dom-module>
