<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-balance">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Soy el id [[id]] con iban [[iban]]</h2>
    <h3>Movimiento [[movimiento]] [[importe]]</h3>
    <h4>Balance final [[balance]]<h4>

    <iron-ajax
      auto
      id="getUser"
      url="http://localhost:3000/apitechu/balance/users/{{id}}"
      handle-as="json"
      on-response="showData"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorBalance extends Polymer.Element {
      static get is() { return 'visor-balance'; }
      static get properties() {
        return {
          id: {
          type: Number
        },  iban: {
            type: String
          }, movimiento: {
            type: String
          }, importe: {
            type: Number
          }, balance: {
            type: Number
          }

        };
      }

      showData(data){

        console.log("showData");
        console.log(data.detail.response.id);
        console.log(data.detail.response.iban);
        console.log(data.detail.response.movimiento);
        console.log(data.detail.response.importe);
        console.log(data.detail.response.balance);
        this.id = data.detail.response.id;
        this.iban = data.detail.response.iban;
        this.movimiento = data.detail.response.movimiento;
        this.importe = data.detail.response.importe;
        this.balance = data.detail.response.balance;
        }


    }

    window.customElements.define(VisorBalance.is, VisorBalance);
  </script>
</dom-module>
