<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <h2>Mi Iban es {{iban}}</h2>
    <h3>y mi Balance es {{balance}}</h3>
    

    <iron-ajax
      auto
      id="getAccount"
      url="http://localhost:3000/apitechu/v3/users/{{id}}"
      handle-as="json"
      on-response="showData"
      >

  </template>


  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          iban: {
            type: String
          }, balance: {
            type: Number
          }, id: {
            type: Number
          }

        };
      }

      account(){
        console.log("Usuario visualiza");

      var accountData = {
        "iban" : this.iban,
        "balance" : this.balance
      };

      this.$.getAccount.body = JSON.stringify(accountData);
      this.$.getAccount.generateRequest();

      console.log("petición enviada");
    }


      showData(data){

        console.log("showData");
        console.log(data.detail.response.iban);
        console.log(data.detail.response.balance);
        this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;


}
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
