<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="crear-usuario">
  <template>
    <style>
      :host {
        display: block;
        padding: 10px;

      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

  <h2>Registro de usuarios</h2>
  <br />
  <label for="id">id</label>
  <br />
  <input class="col-3 offset-1" placeholder="id" type="id" value="{{id::input}}"></input>
  <br />
  <label for="first_name">first_name</label>
  <br />
  <input class="col-3 offset-1" placeholder="first_name" type="first_name" value="{{first_name::input}}"></input>
  <br />
  <label for="last_name">last_name</label>
  <br />
  <input class="col-3 offset-1" placeholder="last_name" type="last_name" value="{{last_name::input}}"></input>
  <br />
  <label for="email">email</label>
  <br />
  <input class="col-3 offset-1" placeholder="email" type="email" value="{{email::input}}"></input>
  <br />
  <label for="password">password</label>
  <br />
  <input class="col-3 offset-1" placeholder="password" type="password" value="{{password::input}}"></input>
  <br />
  <br />
  <button class="col-1 offset-1 btn btn-outline-secondary" on-click="crear">Crear</button>
  <span hidden$="{{!isCreated}}">Bienvenido!!</span>

    <iron-ajax
      auto
      id="createtUser"
      url="http://localhost:3000/apitechu/v2/users"
      handle-as="json"
      content-type="application/json"
      method="POST"
      on-response="manageAJAXResponse"
      on-error="showError"
      >

  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class CrearUsuario extends Polymer.Element {
      static get is() { return 'crear-usuario'; }
      static get properties() {
        return {
          id: {
            type: Number
          }, first_name: {
            type: String
          }, last_name: {
            type: String
          }, email: {
            type: String
          }, password: {
            type: String
          }, isCreated: {
            type: Boolean,
            value: false
          }
        }
      };

          manageAJAXResponse(data) {
            console.log("usuario creado");
            console.log(data.detail.response);

            this.isCreated = true;
            window.location = "user/" +  data.detail.response.idUsuario
          }

          create(){
            console.log("El usuario ha pulsado el botón");
            console.log("Voy a enviar la petición");

            var createData ={
              "id" : this.id,
              "first_name": this.first_name,
              "last_name": this.last_name,
              "email" : this.email,
              "password" : this.password
              };

            this.$.createUser.body = JSON.stringify(createData);
            this.$.createUser.generateRequest();

            console.log("Petición enviada");
          }

          showError(error) {
            console.log("Hubo un error");
            console.log("error");
          }

        }


    window.customElements.define(CrearUsuario.is, CrearUsuario);
  </script>
</dom-module>
